@model IEnumerable<EyeBoard.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




    <h2>Users</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "User", new { id = item.Id }, new { data_toggle = "modal", data_target = "#deleteModal", data_id = item.Id, data_username = item.UserName }) |
                    @Html.ActionLink("Change Password", "ChangePassword", new { id = item.Id }) |
                    @Html.ActionLink("Statistics", "UserStatistics", "Dashboard", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>


<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete <span id="titleUsername"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="okBtn" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {

            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var username = button.data('username');
                var id = button.data('id');
                console.log(id);
                $('#titleUsername').text(username);
                $('#okBtn').attr('data-id', id);
            });

            $('#okBtn').click(function (event) {
                event.preventDefault();

                var id = $(this).data('id');
                $.post('/api/User/Delete/' + id, function () {
                    $('tr[data-id="' + id + '"]').remove();
                    $('#deleteModal').modal('hide');
                });

            });
        });
    </script>    
}